<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="tabris-plugin-launchmonitor"
        version="1.0.0">

  <name>Tabris.js launch monitor plugin</name>
  <description>React on Tabris.js app launch and read launch parameters.</description>
  <author>EclipseSource</author>
  <license>Revised BSD License (3-clause license)</license>
  <repo>https://github.com/eclipsesource/tabris-plugin-launchmonitor.git</repo>
  <issue>https://github.com/eclipsesource/tabris-plugin-launchmonitor/issues</issue>

  <js-module src="www/LaunchMonitor.js">
    <clobbers target="eslaunchmonitor" />
  </js-module>

  <platform name="ios">
    <config-file target="*TabrisPlugins.plist" parent="classes">
    	<array>
	    	<string>ESLaunchMonitor</string>
    	</array>
    </config-file>
    <hook type="after_plugin_install" src="scripts/ios/setup.js" />
    <header-file src="src/ios/ESLaunchMonitor.h" />
    <source-file src="src/ios/ESLaunchMonitor.m" />
  </platform>


  <platform name="android">
    <source-file src="src/android/com/eclipsesource/tabris/launchmonitor/LaunchMonitorHandler.kt"
                 target-dir="src/com/eclipsesource/tabris/launchmonitor" />
    <source-file src="src/android/com/eclipsesource/tabris/launchmonitor/LaunchMonitor.kt"
                 target-dir="src/com/eclipsesource/tabris/launchmonitor" />

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data
          android:name="com.eclipsesource.tabris.android.HANDLER.com.eclipsesource.launchmonitor"
          android:value="com.eclipsesource.tabris.launchmonitor.LaunchMonitorHandler" />
    </config-file>
  </platform>

</plugin>
