<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="tabris-plugin-launchparameters"
        version="0.1.0">

  <name>Tabris.js launch parameters plugin</name>
  <description>Read parameters passed when launching the app from an URL.</description>
  <author>EclipseSource</author>
  <license>Revised BSD License (3-clause license)</license>
  <repo>https://github.com/eclipsesource/tabris-plugin-launchparameters.git</repo>
  <issue>https://github.com/eclipsesource/tabris-plugin-launchparameters/issues</issue>

  <js-module src="www/LaunchParameters.js">
    <clobbers target="esutils.getUrlLaunchParameters" />
  </js-module>

  <platform name="ios">
    <config-file target="*TabrisPlugins.plist" parent="classes">
    	<array>
	    	<string>ESLaunchParameters</string>
    	</array>
    </config-file>
    <hook type="after_plugin_install" src="scripts/ios/setup.js" />
    <header-file src="src/ios/ESLaunchParameters.h" />
    <source-file src="src/ios/ESLaunchParameters.m" />
  </platform>


  <platform name="android">
    <hook type="after_plugin_install" src="scripts/android/setup.js" />
    <source-file src="src/android/com/eclipsesource/tabris/launchparameters/LaunchParametersOperator.kt"
                 target-dir="src/com/eclipsesource/tabris/launchparameters" />
    <source-file src="src/android/com/eclipsesource/tabris/launchparameters/LaunchParametersPropertyHandler.kt"
                 target-dir="src/com/eclipsesource/tabris/launchparameters" />
    <source-file src="src/android/com/eclipsesource/tabris/launchparameters/LaunchParameters.kt"
                 target-dir="src/com/eclipsesource/tabris/launchparameters" />

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data
          android:name="com.eclipsesource.tabris.android.OPERATOR.com.eclipsesource.launchparams"
          android:value="com.eclipsesource.tabris.launchparameters.LaunchParametersOperator" />
    </config-file>
  </platform>

</plugin>
